@keyframes ani {
   from{
       width: 0px;
   } 
   to{
      background-color: blue;
      width: 100px;

   }
}
.signIn.anim{
    width: 0px;
}
.signIn.anim#inpputUser:active{
    animation: ani 3s;
    background-color: blue;
}
.signIn{
    background-color: whitesmoke;
    width: 400px; 
    height: 400px;
    position: absolute;
    top: 50%; margin-top:-200px;
    left: 50%; margin-left:-300px;
    text-align:center;


}
#signInP{
    font-size: 20px;
    font-family: sans-serif;
}
#inpputUser{
    border-radius: 6px;
    background-color: whitesmoke;
    border-style: none;
    height: 40px;
    width: 300px;
    border-style: none;
    font-size: 15px; 
    border-bottom: 0; 

}
#inpputUser:focus { 
    outline-style: none;
    /* animation: ani 3s; */
   /* border-bottom: solid 3px rgb(0,128,255); */
  /* font-size: 20px;  */
}

#sign{
    text-align: left;
    right: 400px;
    margin-left: 12%;
    margin-bottom: 4%;
    font-size: 12px;
    font-family: sans-serif;
    color:rgb(0,128,255);
}

fieldset
{
  border-radius: 4px;
  border-color: whitesmoke;
  max-width:0px;
  padding:0px;	
  margin:auto;
  float: center;

}
#signin{
    
    background-color: rgb(0,128,255);
    border-radius: 4px;
    border-style: none;
    color:white;
    position: relative; 
    left: 16%;
    height: 40px;
    width: 60px;
}

#signin:active{
    background-color: rgb(0,55,255);

}

#forgot{
    float: left;
    font-family: sans-serif;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    left: 11%;
    color:rgb(0,128,255);
    border-style: none;
    width: 110px;
    
    
}
#forgot:active{
    background-color: lightblue;
    border-radius: 6px;
}
#message{
    position: relative;
    float: left;
    left:11%;
    font-size: 12px;
}
#newline{
    position: relative;
    float:left;
    font-size: 10px;
}
span{
    position: relative;
    float: left;
}
#newone{
    position:relative;
    font-family: sans-serif;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color:rgb(0,128,255);
    border-style: none; 
}
#newone:active{
    background-color: lightblue;
    border-radius: 6px;
}
#e{
    font-size: 5px;
}
p{
    font-family: sans-serif;
}
#creatre{
    border-style: none;
    color:rgb(0,128,255);
    font-weight: bold;
    border-radius: 4px;
    border-style: none;
    position: relative; 
    right: 20%;
    

}

#creatre:active{
    background-color: lightblue;

}