@keyframes ani {
    
}
.signIn{
    background-color: whitesmoke;
    width: 400px; 
    height: 400px;
    position: absolute;
    top: 50%; margin-top:-200px;
    left: 50%; margin-left:-300px;
    text-align:center;


}
#signInP{
    font-size: 20px;
    font-family: sans-serif;
}
#inpputUser{
    border-radius: 6px;
    background-color: whitesmoke;
    border-style: none;
    height: 40px;
    width: 300px;
    border-style: none;
    font-size: 15px; 

}
#inpputUser:focus { 
    outline-style: none;
    border-bottom: solid 3px rgb(0,128,255); 
   /* font-size: 20px;  */
}

#sign{
    text-align: left;
    right: 400px;
    margin-left: 12%;
    margin-bottom: 4%;
    font-size: 12px;
    font-family: sans-serif;
    color:rgb(0,128,255);
}

fieldset
{
  border-radius: 4px;
  border-color: whitesmoke;
  max-width:0px;
  padding:0px;	
  margin:auto;
  float: center;

}


p{
    font-family: sans-serif;
}